<h1>Book a Space!</h1>
<ul>
  <% @spaces.each do |space| %>
    <li class="space" id="space-<%= space.id %>">
    <p>Name - <%= space.space_name %>, Description - <%= space.description %>, Price - £<%= space.price %></p>
    <a href="/spaces/listing/<%=space.id%>"> <p><%= space.space_name %></p> </a>
  <% end %>
</ul>

