<h1><img src="https://github.com/hjdalton/makersbnb/blob/main/logo/icon_small.png?raw=true" alt="icon" height="40", width="40">  Current Listings</h1>
<ul>
  <p>
    <% @spaces.each do |space| %>
      <% if space.id == params[:id] %>
        <h1><%=space.space_name%></h1>
        Description - <%= space.description %><br/>
        Price - £<%= space.price %><br/>
        Available from <%= space.start_date %> to <%= space.end_date %> </p>
        <% end %>
        <% end %>
<form action="/requests" method="post">
<input type="submit" value="Book!"> <br/>
</form>

<form>
 <input type="button" value="Back" onclick="history.back()">
</form>


<div class="footer">
<img src="https://github.com/hjdalton/makersbnb/blob/main/logo/logo_large.png?raw=true" alt="icon" height="30", width="180">
  <p>Wherever you stay make sure it feels like home</p>
</div>

<style>
body {
  margin: auto;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
  background-color: #F8F7EE;
}
</style>